body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}

.scrollpositioncss {
  font-size: 10vh;
  color: white;
  width: 100%;
  text-align: center;
}

.background {
  /* background-attachment: scroll; */
  /* overflow: hidden; */
}

.intro_border {
  position: sticky;
  top: 0px;
  background-image: url(https://i.ibb.co/qymNNXt/stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 1;
}

.intro_border_two {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* position: relative; */
  /* height: 100vh; */
  overflow: hidden;
  width: 100vw;
}

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
}

.elementtwo {
  transition: opacity 1s;
  position: fixed;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.about_child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  text-align: center;
  font-size: 3vh;
  color: white;
  font-size: 2vh;
  /* z-index: 2; */
}

.hidden {
  opacity: 0; /* Make the content transparent when the tint appears */
}

.hi {
  font-size: 10vh;
}

.name {
  font-size: 5vh;
}

.dark-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.filler {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* padding-bottom: 80vh; */
  overflow: hidden;
}

/* .temp_box {
  margin-top: 99vh;
  width: 100%;
  height: 20vh;
  background-color: black;
  overflow: hidden;
  z-index: 2;
} */

.projects {
  position: relative;
  height: 100vh;
  z-index: 2;
  padding-top: 10vh;
  background-color: black;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5vw 0 5vw;
}

.website {
  height: 90vh;
  width: 100%;
}

.museum {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.museum:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.rabbit_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d4938;
}

.rabbit {
  width: 90%;
  height: 80%;
  object-fit: contain;
  overflow: hidden;
}

.skills {
  position: relative;
  height: 100vh;
}

.skills_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
}

.iconimage {
  width: 75vw;
  height: 35vh;
  object-fit: scale-down;
  overflow: hidden;
}
