* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}

.background {
  position: sticky;
  top: 0px;
  background-image: url(https://i.ibb.co/bb9HCQb/background-smaller.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 1;
}

.mountains {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.buildings {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.trees {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 3;
}

.main {
  position: absolute;
  z-index: 1;
}

.heading_container {
  position: absolute;
  left: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
}

h1 {
  color: #b1ffec;
  margin: 0;
  padding: 0;
}

.name_intro {
  font-size: 1vw;
  letter-spacing: 0.2vw;
  font-family: "Erbos Draco 1st Open NBP";
}

.name {
  font-size: 4.6vw;
  letter-spacing: 0.2vw;
  text-shadow: 0 0 18px #b1ffeba7;
  font-family: PixCon;
  padding: 0 0 12px 0;
  margin: 0;
}

.name_caption {
  font-size: 1vw;
  letter-spacing: 0.2vw;
  font-family: "Erbos Draco 1st Open NBP";
  font-weight: 100;
  padding-bottom: 15px;
}

.new_filler {
  transition: opacity 1s;
  position: relative;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 150vh;
}

.new_filler_child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  text-align: center;
  font-size: 3vh;
  color: white;
  font-size: 2vh;
  border: 1px solid blue;
}

.hidden {
  opacity: 0; /* Make the content transparent when the tint appears */
}

.dark-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.filler {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: relative;
  height: 100vh;
  border: 1px solid yellow;
  width: 100%;
  padding: 4% 0 4% 0;
  margin: 0;
}

.left_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60vw;
  border: 1px solid red;
  font-size: 2vh;
  padding-left: 10vw;
}

.right_element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 40vw;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.ula_pixelart {
  border: 1px solid blue;
  height: 80%;
}

.pixelart_caption {
  font-family: PixCon;
  font-size: 2vw;
  text-wrap: nowrap;
  border: 1px solid blue;
  height: 80%;
  padding-top: 2vh;
  color: #fef7d4;
}

.hello_container {
  border: 1px solid blue;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hello {
  font-size: 5vw;
  font-family: PixCon;
  text-wrap: nowrap;
  margin: 0;
  padding: 0 0 0 0;
  color: #fef7d4;
  text-shadow: 0 0 13px #fef7d4;
}

.hello_two {
  font-size: 5vw;
  font-family: PixCon;
  text-wrap: nowrap;
  color: #fef7d4;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 13px #fef7d4;
}

.wavinghand {
  height: 11vh;
  width: 11vh;
  filter: drop-shadow(0px 0px 4px #fef7d4);
}

.hello_description {
  font-size: 1.65vw;
  font-family: monospace;
  color: #fef7d4;
}

/* .projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5vw 0 5vw;
} */

.website {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.museum {
  height: 70vh;
  width: 50vw;
  object-fit: cover;
  overflow: hidden;
  transition: transform 2.9s ease;
  opacity: 0.5;
}

/* .museum:hover {
  transform: scale(1.2);
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
} */

.description {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  color: white;
  font-size: 10vh;
  /* border: 1px solid blue; */
  gap: 5%;
}

.title {
  color: white;
  font-size: 5vh;
  font-family: monospace;
  letter-spacing: 0.7vw;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.web_caption {
  color: white;
  font-size: 1vw;
  font-family: monospace;
  padding: 2vh 2vw 2vh 2vw;
  /* border: 1px solid blue; */
}

.see_live {
  color: white;
  font-size: 1.2vw;
  padding: 2% 1.5% 2% 2%;
  font-family: monospace;
  background-color: #1d4938;
  letter-spacing: 0.5vw;
}

.tech_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 5%;
  width: 90%;
  height: 5vh;
}

.my_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 300vh;
  width: 100%;
  padding: 5%;
  margin: 0;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9vw;
  font-family: monospace;
  padding: 3%;
  border: 0.5px solid white;
  border-radius: 15px;
  height: 4vh;
  width: 8vw;
}

.overlay {
  position: absolute;
  padding: 0 0 2.5vh 2vw;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: translateY(100%);
  color: white;
}

.image_text {
  font-size: 2.9vh;
  padding-bottom: 1vh;
  color: white;
  font-family: monospace;
}

.image_text_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.5vh;
  font-family: monospace;
  letter-spacing: 0.5vw;
  text-decoration: none;
  width: 15vw;
  height: 3vh;
}

.overlay,
.image_text,
.image_text_two {
  margin: 0;
}

.arrow {
  object-fit: contain;
  height: 3vh;
  width: 3vw;
}

.website:hover .overlay {
  transform: translateY(0);
}

.rabbit_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d4938;
  gap: 3%;
  width: 50vw;
  height: 55vh;
}

.rabbit {
  height: 50%;
  width: 90%;
  object-fit: contain;
  overflow: hidden;
  transition: transform 2.9s ease;
  opacity: 0.5;
  margin-bottom: 6vh;
  margin-top: 10vh;
}

/* .rabbit:hover {
  transform: scale(1.2);
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
} */

.skills {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.my-skills {
  color: white;
  font-size: 2.5vh;
  width: 100%;
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.5vw;
}

.skills-noarrows {
  display: flex;
  overflow: hidden;
  height: auto;
  margin-top: 5vh;
  border-radius: 25px;
  white-space: nowrap;
  animation: scrollText 20s infinite linear;
  width: fit-content;
  padding: 5vh 5vh 5vh 5vh;
}

.skills-noarrows:hover {
  animation-play-state: paused;
}

.skillimg {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  background-color: black;
  border: 0.1px solid white;
  border-radius: 25px;
  margin: 1%;
  object-fit: contain;
  margin: 0 0.5% 0 0.5%;
}

.img_caption {
  color: white;
  letter-spacing: 0.6vw;
  font-family: monospace;
  font-size: 2vh;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.skillimg:hover {
  cursor: pointer;
  /* animation: shake 0.5s infinite alternate;  */
}

/* @keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
} */

.skill {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.footnote {
  position: absolute;
  height: 50vh;
  width: 100vw;
  color: white;
  font-size: 3vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
