* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}

.background {
  position: sticky;
  top: 0px;
  background-image: url(https://i.ibb.co/bb9HCQb/background-smaller.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 1;
}

.mountains {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.buildings {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.trees {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 3;
}

.heading_container {
  position: absolute;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
}

h1 {
  color: #b1ffec;
  margin: 0;
  padding: 0;
}

.moon {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  transition: transform 0.1s linear;
  height: 50vh;
}

.name_intro {
  font-size: 1.4vw;
  letter-spacing: 0.2vw;
  font-family: monospace;
}

.name {
  font-size: 6vw;
  letter-spacing: 0.2vw;
  text-shadow: 0 0 18px #b1ffeba7;
}

.name_caption {
  font-size: 1.4vw;
  letter-spacing: 0.2vw;
  font-family: monospace;
}

.new_filler {
  transition: opacity 1s;
  position: relative;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 150vh;
}

.new_filler_child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  text-align: center;
  font-size: 3vh;
  color: white;
  font-size: 2vh;
}

.hidden {
  opacity: 0; /* Make the content transparent when the tint appears */
}

.dark-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.filler {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.projects {
  position: relative;
  height: 120vh;
}

.my_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 300vh;
  width: 100%;
  padding: 5%;
  margin: 0;
}

.left-element {
  position: absolute;
  top: 50%;
  margin-left: 10vw;
  height: 50vh;
  color: white;
  width: 40vw;
  transform: translateY(-50%);
  opacity: 0;
  height: auto;
}

.right-element {
  border: 1px solid red;
  color: white;
  position: absolute;
  width: 20vw;
  height: 50vh;
  margin-right: 15vw;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.left-element.show {
  animation: slideFromLeft 0.5s ease forwards;
}

.right-element.show {
  animation: slideFromRight 0.5s ease forwards;
}

.hello {
  font-size: 4vw;
  font-family: monospace;
  /* border: 1px solid yellow; */
  text-wrap: nowrap;
  margin: 0;
  padding: 0 0 1vh 0;
}

.hello_two {
  font-size: 2.5vw;
  font-family: monospace;
  /* border: 1px solid yellow; */
  text-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.wavinghand {
  height: 6vh;
  width: 6vh;
}

.hello_description {
  font-size: 2vw;
  font-family: monospace;
}

@keyframes slideFromLeft {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5vw 0 5vw;
}

.website {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.museum {
  height: 70vh;
  /* width: 100%; */
  width: 50vw;
  object-fit: cover;
  overflow: hidden;
  transition: transform 2.9s ease;
  opacity: 0.5;
}

/* .museum:hover {
  transform: scale(1.2);
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
} */

.description {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: white;
  font-size: 10vh;
  border: 1px solid blue;
}

.title {
  color: white;
  font-size: 5vh;
  font-family: monospace;
}

.tech_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7%;
  border: 1px solid blue;
  width: 100%;
  height: 10vh;
}

.tech {
  color: white;
  font-size: 2vh;
  font-family: monospace;
  padding: 5%;
  border: 0.5px solid white;
  border-radius: 15px;
  height: 6vh;
  width: 8vw;
  text-align: center;
}

.overlay {
  position: absolute;
  padding: 0 0 2.5vh 2vw;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: translateY(100%);
  color: white;
}

.image_text {
  font-size: 2.9vh;
  padding-bottom: 1vh;
  color: white;
  font-family: monospace;
}

.image_text_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.5vh;
  font-family: monospace;
  letter-spacing: 0.5vw;
  text-decoration: none;
  width: 15vw;
  height: 3vh;
}

.overlay,
.image_text,
.image_text_two {
  margin: 0;
}

.arrow {
  object-fit: contain;
  height: 3vh;
  width: 3vw;
}

.website:hover .overlay {
  transform: translateY(0);
}

.rabbit_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d4938;
  width: 50vw;
  height: 90vh;
}

.rabbit {
  height: 50%;
  width: 90%;
  object-fit: contain;
  overflow: hidden;
  transition: transform 2.9s ease;
  opacity: 0.5;
}

/* .rabbit:hover {
  transform: scale(1.2);
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
} */

.skills {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.my-skills {
  color: white;
  font-size: 2.5vh;
  width: 100%;
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.5vw;
}

.skills-noarrows {
  display: flex;
  /* border: 0.1px solid white; */
  overflow: hidden;
  height: auto;
  margin-top: 5vh;
  border-radius: 25px;
  white-space: nowrap;
  animation: scrollText 20s infinite linear;
  width: fit-content;
  padding: 5vh 5vh 5vh 5vh;
}

.skills-noarrows:hover {
  animation-play-state: paused;
}

.skillimg {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  background-color: black;
  border: 0.1px solid white;
  border-radius: 25px;
  margin: 1%;
  object-fit: contain;
  margin: 0 0.5% 0 0.5%;
}

.img_caption {
  color: white;
  letter-spacing: 0.6vw;
  font-family: monospace;
  font-size: 2vh;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.skillimg:hover {
  cursor: pointer;
  /* animation: shake 0.5s infinite alternate;  */
}

/* @keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
} */

.skill {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.footnote {
  position: absolute;
  height: 50vh;
  width: 100vw;
  color: white;
  font-size: 3vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
